{% extends "tugas2/layout/base.html" %} {% load staticfiles%} {% block content %}
<h1 class="main-title">Forum Lowongan</h1>
<hr/>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'app_forum:add_forum' %}">
            <h2>Input Todo</h2>
            {% csrf_token %} {{ forum_lowongan }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            <br>
        </form>
    </div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">My List</h2>
        <div class="forum-lowongan">
            {% if forum %} {% for data in forum %}
            <p>{{ data.lowongan }}</p>
            {% endfor %} {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Todo.
            </div>
            {% endif %}

            <div class="pagination">
                <span class="step-links">
                    <ul class="pagination">
                    {% if forum.has_previous %}
                        <li><a href="?page=1">&laquo; first</a></li>
                        <li><a href="?page={{ forum.previous_page_number }}">previous</a></li>
                    {% endif %}
                    <li><span class="current">Page {{ forum.number }} of {{ forum.paginator.num_pages }}</span></li>
                    {% if forum.has_next %}
                        <li><a href="?page={{ forum.next_page_number }}">next</a></li>
                        <li><a href="?page={{ forum.next_page_number }}">last &raquo;</a></li>
                    {% endif %}
                    </ul>
                </span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
