{% load staticfiles %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Snippet" rel="stylesheet">
	{% block styles %}
	{% endblock %}
	<title>
        {% block title %} PPW A12 {% endblock %}
    </title>
</head>

<body class="Site">
    <header>
        {% include "tugas2/partials/header.html" %}
    </header>

    <content class="Site-content">
        {% block content %}
        <!-- content goes here -->
        {% endblock %}
    </content>
    <footer class="footer">
        {% block footer %} {% include "tugas2/partials/footer.html" %} {% endblock %}
    </footer>
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% block script %}
	{% endblock %}
</body>